@charset "utf-8";

/* HTML Styles */

html {
    background: fixed linear-gradient(to bottom ,white, rgb(126, 126, 126), black);
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}

html, body {
    height: 100%;
}

/* Navigation Styles */

nav {
    position: relative;
    display: table;
    width: 85%;
    float: right;
    padding-top: 26px;
}

nav > ul {
    position: relative;
    display: table-row;
    list-style-type: none;
    background-image: linear-gradient(to right, rgb(250, 146, 11) , rgb(250, 177, 41) , rgb(245, 205, 146));
}

nav > ul > li {
    position: relative;
    display: table-cell;
    text-align: center;
    padding: 7px 0px 7px 0px;
    width: 20%;
    float: left;
}

nav > ul > li > a{
    position: relative;
    text-decoration: none;
    color: black;
}

nav > ul > li > a:hover {
    color: whitesmoke;
}

/* Logo Styles */

#navImg {
    max-width: 15%;
}

/*  Contact Form styles  */

#contact-form {
    position: relative;
    font-family: 'Lato', calibri, arial;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    color: #fff;
    overflow: auto;
}

#contact-area {
    width: 450px;
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
}

#contact-area input,
#contact-area textarea {
    padding: 5px;
    width: 450px;
    font-family: 'Lato', calibri, arial;
    font-size: 14px;
    font-weight: 300;
    color: rgb(250, 176, 115);
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(243, 175, 96);;
    margin-bottom: 15px;
    height: 24px;
}

#contact-area textarea {
    height: 200px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid rgb(243, 175, 96);;
    border-right: 1px solid transparent;
}

#contact-area textarea:focus,
#contact-area input:focus {
    background-color: #333;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
}

/* Submit button */

#contact-area input.submitButton {
    font-family: 'Lato', calibri, arial;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100px;
    float: left;
    background-color: transparent;
    border: 1px solid rgb(243, 175, 96);;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#contact-area input.submitButton:hover {
    color: #fff;
    background-color: #333;
}

legend {
    position: relative;
    font-size: 1.8em;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 10px; 
    color: rgb(248, 158, 74);
}

.contact {
    border: solid rgb(243, 175, 96);
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Mobile Styles */

@media only screen and (max-width:580px) {

    html {
        background: rgba(245, 245, 245, 0.884);
    }

    #navImg {
        display: none;
    }

    nav {
        width: 100%;
        padding: 0px;
    }

    nav::after {
        clear: both;
        content: "";
        display: table;
    }

    nav li {
        display: block;
        float: left;
        width: 20%;
    }

    nav ul li::after {
        clear: both;
        content: "";
        display: table;
    }

    nav ul li {
        text-align: center;
        list-style: none;
        width: 100%;
    }
	
    nav ul li a {
        color: black;
        font-size: 15px;
    }

    .contact {
        width: 2.8%;
        margin: auto;
    }

    #contact-area input, #contact-area textarea {
        width: 100;
        font-size: 12px;
        margin: 5px;
    }

    #contact-area {
        padding: 0px
    }

    .contact {
        border: none;
    }

    #contact-area input.submitButton {
        width: 75px;
    }

}