/* HTML Styles */

html {
    background: fixed linear-gradient(to bottom ,white, rgb(126, 126, 126), black);
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}

html, body {
    height: 100%;
}

/* Navigation Styles */

nav {
    display: table;
    width: 85%;
    float: right;
    padding-top: 26px;
}

nav > ul {
    display: table-row;
    list-style-type: none;
    background-image: linear-gradient(to right, rgb(250, 146, 11) , rgb(250, 177, 41) , rgb(245, 205, 146));
}

nav > ul > li {
    display: table-cell;
    text-align: center;
    padding: 7px 0px 7px 0px;
    width: 20%;
    float: left;
}

nav > ul > li > a{
    text-decoration: none;
    color: black;
}

nav > ul > li > a:hover {
    color: whitesmoke;
}

legend {
    position: relative;
    font-size: 1.8em;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 10px; 
    color: rgb(248, 158, 74);
}

p {
    font-size: 20px;
    color: rgb(255, 184, 117);
    text-align: center;
}

.ctso, .requirements, .hosa {
    border: solid rgb(243, 175, 96);
    padding: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/* Logo Styles */

#navImg {
    max-width: 15%;
}

@media only screen and (max-width:480px) {

    html {
        background: rgba(245, 245, 245, 0.884);
    }

    #navImg {
        display: none;
    }

    nav {
        width: 100%;
        padding: 0px;
    }

    nav::after {
        clear: both;
        content: "";
        display: table;
    }

    nav li {
        display: block;
        float: left;
        width: 20%;
    }

    nav ul li::after {
        clear: both;
        content: "";
        display: table;
    }

    nav ul li {
        text-align: center;
        list-style: none;
        width: 100%;
    }
	
    nav ul li a {
        color: black;
        font-size: 15px;
    }
}